- if current_page? controller: 'pages', action: 'inspiration'
  - image = resource.images.standard_resolution.url
- else
  - image = resource.images.where(feature_image: true).last.image.url if resource.images.present?

= link_to resource do
  .hover-tile-outer{:style => "background: url('#{image}'); background-size: cover"}
    .hover-tile-container
      .hover-tile
        %h3= resource.name.upcase if resource.respond_to?(:name)
        = resource.caption.text if resource.respond_to?(:caption)
        %h4= "$#{resource.human_price}" if resource.respond_to?(:human_price)
