- content_for :banner_bg do
  .poster{style: "background:url(#{image_path('bk-178.jpg')}) no-repeat center; background-size: cover"}
- content_for :image do
  = image_tag 'bk-183-crop.jpg'
- content_for :heading do
  = @post.title.upcase
- content_for :body do
  = simple_format @post.body
  %hr

  = semantic_form_for @message do |f|
    = f.semantic_errors
    = f.input :name, placeholder: 'Name', label: false, required: true
    = f.input :email, placeholder: "Email", label: false
    = f.input :body, placeholder: "Message", label: false, input_html: { rows: 3 }
    %span If your question about a specific item please select it here.
    %span= f.input :product_id, as: :select, collection: Product.pluck(:name, :id)
    = f.submit "SUBMIT", class: "btn-black"

- content_for :footer do
  = javascript_include_tag 'pages/contact'
