%input#modal.modal-state{:type => "checkbox"}/
.modal-window
  .modal-inner
    %label.modal-close{:for => "modal"}
    .modal-header
      %h2= "Cart Total: $#{cart_session.human_total_with_tax}"
      .charge-fields
        .form-fields
          .credit-card
            .name= text_field_tag :name, nil, placeholder: "Full Name"
            = f.input :email, placeholder: "Email", label: false
            .credit_card_number= text_field_tag :credit_card_number, nil, name: nil, placeholder: 'Credit Card Number'
            .exp_month= text_field_tag :exp_month, nil, name: nil, placeholder: "MM"
            .exp_year= text_field_tag :exp_year, nil, name: nil, placeholder: "YYYY"
            .cvc= text_field_tag :cvc, nil, name: nil, placeholder: "CVC"
          .shipping
            .address_line1= text_field_tag :address_line1, nil , name: nil, placeholder: "Address Line 1"
            .address_line2= text_field_tag :address_line2, nil , name: nil, placeholder: "Line 2"
            .address_city= text_field_tag :address_city, nil, name: nil, placeholder: "City"
            .address_state= text_field_tag :address_state, nil, name: nil, placeholder: "State"
            .address_zip= text_field_tag :address_zip, nil, name: nil, placeholder: "Zip"
            .address_country= text_field_tag :address_country, nil, name: nil, placeholder: "Country"
            = f.input :session_id, as: :hidden, input_html: { value: session[:session_id] }
            = f.input :amount, as: :hidden, input_html: { value: cart_session.total_with_tax }
            %hr/
          .details
            %h4 When is your special event?
            = f.input :event_date, as: :datepicker, label: false, type: "text"
          .confirm
            %h4 Confirm your purchase
            %ul
              - cart_session.products_to_list.each do |item|
                %li= item
      .modal-footer
        .float
          = button_tag type: 'button', class: "modal-card btn-black" do
            %i.fa.fa-angle-double-left
            CARD
          = button_tag type: 'button', class: "modal-shipping btn-black" do
            %span.back
              %i.fa.fa-angle-double-left
              SHIPPING
            %span.forward
              SHIPPING
              %i.fa.fa-angle-double-right
          = button_tag type: 'button', class: "modal-details btn-black" do
            %span.back
              %i.fa.fa-angle-double-left
              ADDITIONAL
            %span.forward
              ADDITIONAL
              %i.fa.fa-angle-double-right
          = button_tag type: 'button', class: "modal-confirm btn-black" do
            CONFIRM
            %i.fa.fa-angle-double-right
          = f.submit "PURCHASE", class: "modal-purchase btn-primary"
