- content_for :banner_bg do
  .spacer
- content_for :th do
  %tr
    %th Item
    %th Details
    %th Quantity
    %th Price
- content_for :tr_items do
  - @products.each do |item|
    %tr
      %td= "#{item['product_name']}"
      %td= "Ribbon: #{item['ribbon_color']}" unless item['ribbon_color'].nil?
      %td
        %span.qty= item["qty"]
        = form_tag controller: "cart_sessions", action: "add_item" do
          = hidden_field_tag :product_name, item["product_name"]
          = hidden_field_tag :product_id, item["product_id"]
          = hidden_field_tag :qty, 1
          = hidden_field_tag :ribbon_color, item["ribbon_color"]
          = button_tag class: "btn-black" do
            %i.fa.fa-angle-double-up
        = form_tag controller: "cart_sessions", action: "remove_item", class: "btn-black" do
          = hidden_field_tag :product_name, item["product_name"]
          = hidden_field_tag :product_id, item["product_id"]
          = hidden_field_tag :qty, 1
          = hidden_field_tag :ribbon_color, item["ribbon_color"]
          = button_tag class: "btn-black" do
            %i.fa.fa-angle-double-down
      %td= "$#{item['product_price'].to_i / 100 }"
- content_for :tr_footers do
  %tr
    %td
    %td
    %td
      %strong Sub Total
    %td= "$#{cart_session.human_total}"
  %tr
    %td
    %td
    %td
      %strong Tax
    %td $10.50
  %tr
    %td
    %td
    %td
      %strong Total
    %td
      %strong= "$#{cart_session.human_total + 10.50}"
- content_for :buttons do
  = render "charge_modal", charge: @charge, products: @products
