- content_for :banner_bg do
  .spacer
- content_for :header do
  .table-header
    %h1{style: "float:left"} CART
    = button_to "Empty Cart", empty_cart_path, method: :delete, class: "btn-black", style: "float:right;"
  %hr/
- content_for :th do
  %tr
    %th Item
    %th Details
    %th Quantity
    %th Price
- content_for :tr_items do
  - @products.each do |item|
    %tr
      %td= "#{item['product_name']}"
      %td= "#{item['ribbon_color']}" unless item['ribbon_color'].nil?
      %td
        %span.qty= item["qty"]
        = form_tag controller: "cart_sessions", action: "add_item" do
          = hidden_field_tag :product_name, item["product_name"]
          = hidden_field_tag :product_id, item["product_id"]
          = hidden_field_tag :qty, 1
          = hidden_field_tag :ribbon_color, item["ribbon_color"]
          = button_tag class: "btn-black" do
            ADD ITEM
        = form_tag controller: "cart_sessions", action: "remove_item", class: "btn-black" do
          = hidden_field_tag :product_name, item["product_name"]
          = hidden_field_tag :product_id, item["product_id"]
          = hidden_field_tag :qty, 1
          = hidden_field_tag :ribbon_color, item["ribbon_color"]
          = button_tag class: "btn-black" do
            REMOVE ITEM
            -# %i.fa.fa-angle-double-down
      %td= "$#{(item['product_price'].to_i / 100) * item['qty'] }"
- content_for :tr_footers do
  %tr
    %td
    %td
    %td
      %strong Sub Total
    %td= "$#{cart_session.human_total}"
  %tr
    %td
    %td
    %td
      %strong Tax
    %td= "$#{cart_session.human_tax}"
  %tr
    %td
    %td
    %td
      %strong Total
    %td
      %strong= "$#{cart_session.human_total_with_tax}"

- content_for :buttons do
  .charge-modal
    = simple_form_for @charge, method: :post, html: { id: 'payment-form' } do |f|
      = f.input :additional, placeholder: "Additional Instructions", label: false, rows: 2
      = label_tag 'modal', 'Checkout', class: 'btn btn-black checkout-btn'
      = render 'charge_modal', charge: @charge, f: f
