= render "flashes"
.nav-wrapper
  .nav-container
    .nav-logo
      =link_to root_url do
        =embed_svg "svg/boho-kitty-logo.svg", class: "logo"
    %a.nav-button
      %i.fa.fa-2x.fa-navicon
    .nav-div
      %ul.nav-list
        %li
          %h5= link_to "ABOUT", about_path
        %li
          %h5= link_to "COLLECTION", products_path
        %li
          %h5= link_to "CONTACT", contact_path
        %li
          %h5= link_to "INSPIRATION", inspiration_path
        %li
          %h5= link_to "CART - #{cart_session.cart_count}", cart_path
