<h3><%= @product.name %></h3>
<hr>
<p><%= @product.description %></p>
<hr>
<h3><%= @product.human_price %></h3>

<% if cart_session %>
  <%= button_to "Add to Cart", add_item_path(product_id: @product.id, qty: 1) %>
<% else %>
  <%= button_to "Add to Cart", cart_session_path(product_id: @product.id, qty: 1) %>
<% end %>
<%= button_to "Empty Cart", empty_cart_path, method: :delete %>
