- content_for :banner_bg do
  .spacer
- content_for :image do
  .slideshow
    .main
      .right
        %i.fa.fa-2x.fa-angle-right
      .left
        %i.fa.fa-2x.fa-angle-left
    %ul.thumbs
      - @product.images.limit(4).each do |image|
        %li(style='background-image: url("#{image.url('medium')}")')
- content_for :heading do
  = @product.name.upcase
- content_for :body do
  = simple_format @product.description
- content_for :price do
  = "$#{@product.human_price}"
- content_for :buttons do
  %hr
  - if cart_session
    = form_tag controller: "cart_sessions", action: "add_item" do
      = hidden_field_tag :product_name, @product.name
      = hidden_field_tag :product_id, @product.id
      = hidden_field_tag :product_price, @product.price
      = hidden_field_tag :qty, 1
      = select_tag :ribbon_color, options_for_select(@product.options_to_array, "#{@product.options.first}") if @product.options
      = submit_tag "ADD TO CART", class: "btn-black"
  - else
    = form_tag controller: "cart_sessions", action: "create" do
      = hidden_field_tag :product_name, @product.name
      = hidden_field_tag :product_id, @product.id
      = hidden_field_tag :product_price, @product.price
      = hidden_field_tag :qty, 1
      = select_tag :ribbon_color, options_for_select(@product.options, @product.options.first) if @product.options
      = submit_tag "ADD TO CART", class: "btn-black"
  .contact-modal
    = label_tag 'modal', 'ASK A QUESTION', class: 'btn btn-black checkout-btn'
    = render "shared/contact_modal", product: @product
- content_for :additional do
  .container
    %p
      Because all BK designs are handmade and develop organically, patterns may vary slightly, but will appear almost identical to the one in photos. This enhances the free-spirited nature of the BK brand, and ensures our customers a true one of a kind piece.
    %p
      We are so excited for you to be a Boho Kitty Bride!

    %p
      If you are an instagrammer please you the hashtag #bohokittybride – we would love to see your wedding pics.
