%br/
= "Your cart total is - $#{cart_session.human_total}"
= simple_form_for @charge, html: { id: 'payment-form' } do |f|
  %h3 Credit Card Information
  = text_field_tag :name, 'Jeff', placeholder: "Name"
  = f.input :email, placeholder: "Email", label: false, input_html: { value: 'jeff@example.com' }
  = text_field_tag :credit_card_number, '4242424242424242', name: nil, placeholder: 'Credit Card Number'
  = text_field_tag :exp_month, '12', name: nil, placeholder: "Exp Month"
  = text_field_tag :exp_year, '2019', name: nil, placeholder: "Exp Year"
  = text_field_tag :cvc, '123', name: nil, placeholder: "CVC"
  %hr/
  %h3 Shipping Address
  = text_field_tag :address_line1, '421 Duncan' , name: nil, placeholder: "Address Line 1"
  = text_field_tag :address_line2, '123' , name: nil, placeholder: "Address Line 2"
  = text_field_tag :address_city, 'Greenville', name: nil, placeholder: "City"
  = text_field_tag :address_state, 'SC', name: nil, placeholder: "State"
  = text_field_tag :address_zip, '12345', name: nil, placeholder: "Zip"
  = text_field_tag :address_country, 'USA', name: nil, placeholder: "Country"
  = hidden_field_tag :amount, cart_session.total
  %hr/
  = f.submit "Submit", class: 'submit'
