<%= @stripe_charge %>
<ul>
  <li><%= @amount %></li>
  <li><%= @stripe_charge.card.address_line1 %></li>
  <li><%= @stripe_charge.card.address_line2 %></li>
  <li><%= @stripe_charge.card.address_city %></li>
  <li><%= @stripe_charge.card.address_state %></li>
  <li><%= @stripe_charge.card.address_zip %></li>
</ul>
