-content_for :banner_bg do
  .spacer
- content_for :image do
  =image_tag "bk-161.jpg"
- content_for :heading do
  = "ORDER SUMMARY - $#{@charge.human_total}"
- content_for :body do
  %p
    Thank you for your purchase - a confirmation email was sent to #{@charge.email}
  %ul
    %li
      %h4 ITEMS
      - @charge.details.split(",").each do |item|
        %li= item
  %hr
  %ul
    %h4 SHIPPING ADDRESS
    %li= "#{@stripe_charge.card.address_line1} - #{@stripe_charge.card.address_line2}"
    %li= "#{@stripe_charge.card.address_city}, #{@stripe_charge.card.address_state} "
    %li= @stripe_charge.card.address_zip
