= render template: 'layouts/application'
.banner
  = yield :banner_bg
  .container
    .content
      %h1= yield :heading
      %hr/
      %p= yield :body
      %h3= yield :price
      = yield :buttons
    .image-box
      = yield :image
  .additional
    = yield :additional
= render template: 'layouts/footer'
