.footer.footer-top
  = embed_svg 'svg/boho_kitty.svg', class: 'footer-logo'
.footer.footer-bottom
  %ul.footer-left
    %li
      = link_to "" do
        = embed_svg 'svg/icons.svg', class: 'etsy-icon'
    %li= link_to icon('instagram', '', class: 'fa-2x'), '#'
    %li= link_to icon('pinterest', '', class: 'fa-2x'), '#'
  %ul.footer-right
    %li= link_to 'Collection', products_path
    %li= link_to 'About', about_path
    %li= link_to 'Contact', contact_path
= render "javascript"
