.footer.footer-top
  = embed_svg 'svg/bk_logo.svg', class: 'footer-logo'
  %br
  %span.boho B O H O
  %span.kitty K I T T Y
.footer.footer-bottom
  -# %ul.footer-left
  -#   %li
  -#     = link_to "" do
  -#       = embed_svg 'svg/icons.svg', class: 'etsy-icon'
  -#   %li= link_to icon('instagram', '', class: 'fa-2x'), '#'
  -#   %li= link_to icon('pinterest', '', class: 'fa-2x'), '#'
  %ul
    %li= link_to 'COLLECTION', products_path
    %li= link_to 'ABOUT', about_path
    %li= link_to 'CONTACT', contact_path
= render "javascript"

= yield :footer

:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-58113852-1', 'auto');
  ga('send', 'pageview');
