<%= render template: 'layouts/application' %>

<div class="banner">
  <div class="container">
    <h1><%= yield :heading %></h1>
    <hr>
    <p><%= yield :body %></p>
      <ul class="grid">
        <%= yield :grid_items %>
      </ul>
  </div>
</div>

<%= render template: 'layouts/footer' %>
