<%= render template: 'layouts/application' %>

<div class="banner">
  <div class="container">
    <div class="table-image">
      <%= image_tag ('cat.jpg') %>
    </div>
    <div class="table-container">
      <h1>Cart</h1>
      <hr>
      <table class="table-minimal">
        <thead>
          <%= yield :th %>
        </thead>
        <tbody>
          <%= yield :tr_items %>
          <%= yield :tr_footers %>
        </tbody>
      </table>
      <%= yield :buttons %>
    </div>
  </div>
</div>

<%= render template: 'layouts/footer' %>
