= render template: 'layouts/application'
.banner
  = yield :banner_bg
  .container
    .table-image
      %ul
        %li= image_tag "bk-161.jpg"
        %li= image_tag "bk-212.jpg"
        %li= image_tag "bk-267.jpg"
        %li= image_tag "bk-183.jpg"
    .table-container
      %h1 CART
      %hr/
      %table.table-minimal
        %thead
          = yield :th
        %tbody
          = yield :tr_items
          = yield :tr_footers
      = yield :buttons
= render template: 'layouts/footer'
